<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
             <!-- Modal header -->
            <div class="modal-header">
               <h4 class="modal-title" id="aboutLabel">About</h4>
            </div>
 
             <!-- Modal footer -->	
            <div class="modal-body">
              
              <div class="alert alert-info">
                    <h4>Special Thanks to Cotutor I:</h4>
                    <p>Jaume Martin Claramonte.</p>
               </div>
               
               <div class="alert alert-info">
                    <h4>Special Thanks to Cotutor II:</h4>
                    <p>José Miguel Holguín.</p>
               </div>
               
               <div class="alert alert-info">
                    <h4>Special thanks to my tutor UPV: </h4>
                    <p>Francisco José Abad Cerdá.</p>
               </div>
               
               <div class="alert alert-info">
                    <h4>Special Thanks to Kevin Breen</h4>
                    <p>VolGUI is based on <a href="https://github.com/kevthehermit/VolUtility">VolUtility</a></p>
               </div>
               
               <div class="alert alert-info">
                    <h4>Author:</h4>
                    <p>Carlos Estrada Cola</p>
               </div>
               <div class="alert alert-info">
                    <h4>VolGUI:</h4>
                    <p>Grafical User Interface for Volatility.</p>
                    <p>Version 1.0.</p>
               </div>
            </div>
 
             <!-- Modal footer -->	
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
