<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal header -->          
            <div class="modal-header">
                <h4 class="modal-title" id="helpLabel">Help</h4>
            </div>
            
            <!-- Modal body -->	         
            <div class="modal-body">
				<h4>VolGUI</h4>
                <p>Wiki:</p>
                <div class="list-group">
                    <a href="https://github.com/Estrada1982/VolGUI/wiki" class="list-group-item" target="_blank">Link to Wiki of VolGUI </a>
                 </div>
				
				
                <h4>Volatility</h4>
                <p>Resources help of Volatility:</p>
                <div class="list-group">
                    <a href="http://www.volatilityfoundation.org/" class="list-group-item" target="_blank">The Volatility Foundation</a>
                    <a href="https://github.com/volatilityfoundation/volatility/wiki/Command-Reference" class="list-group-item" target="_blank">Command Reference of Volatility</a>
                    <a href="http://dsocon.blogspot.co.uk/2012/08/using-volatility-framework-as-library.html" class="list-group-item" target="_blank">Using Volatility as a Library</a>
                 </div>
            
<!--
                <h4>Yara Rules</h4>
                <p>Resources help of Yara Rules:</p>
                <div class="list-group">
                    <a href="http://plusvic.github.io/yara/" class="list-group-item" target="_blank">Yara</a>
                 </div>           

                <h4>Virus Total</h4>
                <p>Resources help of Virus Total:</p>
                <div class="list-group">
                   <a href="https://www.virustotal.com/" class="list-group-item" target="_blank">Virus Total</a>
                 </div>           
-->
            
                <h4>Developer Resources</h4>
                <p>Resources developer help:</p>
                <div class="list-group">
                    <a href="http://www.python.org/" class="list-group-item" target="_blank">Python</a>
                    <a href="https://www.djangoproject.com/" class="list-group-item" target="_blank">Django</a>
                    <a href="https://www.mongodb.com/" class="list-group-item" target="_blank">MongoDB</a>
                    <a href="https://www.javascript.com/" class="list-group-item" target="_blank">Javascript</a>
                    <a href="https://jquery.com/" class="list-group-item" target="_blank">JQuery - MIT License</a>
                    <a href="htpps://datatables.net" class="list-group-item" target="_blank">DataTables - MIT License</a>
                    <a href="http://getbootstrap.com/" class="list-group-item" target="_blank">BootStrap - MIT License</a>
                    <a href="https://bootswatch.com/cerulean/" class="list-group-item" target="_blank">BootSwatch Cerulean - MIT License</a>
                 </div>  
            
            </div>
              
             <!-- Modal footer -->	             
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


                        
                        
